* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
}

#header	{
	min-height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}

.nav_container {
	height: 100px;
	background-color: black;
	display: flex;
	padding: 0% 5%;
	justify-content: center;
	align-items: center;
}

.nav_container img {
	width: 175px;
}

.nav_links {
	display: flex;
	align-items: center;
}

.nav_links ul li {
	list-style: none;	
	padding: 0px 100px;
	display: inline-block;
	position: relative;
}

.nav_links ul li a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	transition-property: color;
	transition-duration: 0s;
}

.nav_links ul li a:hover {
	color: silver;
}	

.slogan {
	color: white;
	position: absolute;
	vertical-align: center;
	top: 50%; /* some magic centering */
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.slogan h1 {
	font-size: 25px;
	margin-bottom: 5px;
}

.slogan p {
	font-size: 12px;
}

.main_container {
	width: 70%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
}

.main_container h1 {
	font-size: 32px;
	margin-bottom: 10px;
}

.row_container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.post_container {
	width: 100%;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgb(248, 248, 248);
	transition-property: background-color;
	transition-duration: 0.2s;
}

.post_container:hover {
	background-color: rgb(232, 232, 232);
}

.post_container img {
	width: 100%;
}

.post_text h2 {
	font-size: 20px;
	margin: 10px;
	color: black;
}

.post_text p {
	margin: 10px;
	color: black;
}

.post_text span {
	font-size: 10px;
	color: black;
}

.footer {
	width: 100%;
	height: 25px;
	background-color: black;
	text-align: center;
}

.footer p {
	color: white;
	font-size: 12px;
}

#search_archive {
	margin: 20px;
	width: 50%;
	border: none;
	outline: none;
	font-family: 'Noto Serif JP', serif;
	font-size: 18px;
	text-align: center;
}