* {
	padding: 0;
}

.form_container {
	margin-top: 50px;
}

.form_container input, .form_container textarea {
	width: 50%;
	margin: 10px;
	outline: none;
	border-width: 1px;
	border-style: solid;
	border-color: silver;
}

.submit_btn {
	padding: 5px;
	border-radius: 1px;
	border-color: black;
	background-color: rgb(222,222,222);
	transition-property: background-color;
	transition-duration: 0s;
}

.submit_btn:hover {
	background-color: rgb(200,180,190);
}